:root {
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --ouwer-text-color: #757575;
  --acent-color: #2196f3;
  --contener-color: #eeeeee;
  --logo-color-text: #000000;
  --buttons-port-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-footer-color: #2f303a;
  --background-section: #f5f4fa;
  --line-color: #ececec;
  --beckground-color: #ffffff;
  --icon-color: #afb1b8;
  --main-font: Roboto, sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--beckground-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* --------------HEADER------------- */

.header {
  border-bottom: 1px solid #ececec;
}

.header-list {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}
.contacts {
  margin-left: auto;
}

.logo {
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: "Raleway";
}

.logo-accent {
  color: var(--acent-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header-item:hover,
.header-item:focus {
  color: var(--acent-color);
}

.nav-items {
  position: relative;
}

.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: transform 250ms var(--timing-function);
}

.header-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--acent-color);
  position: absolute;
  left: 0;
  bottom: -33px;
  transform: scaleX(0);

  transition: transform 250ms var(--timing-function);
}

.header-item:hover:after,
.header-item:hover:after {
  transform: scaleX(1);
}

.header-item.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -33px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  transform: scaleX(1);
}

.link.current {
  color: var(--acent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--acent-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--ouwer-text-color);
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms var(--timing-function);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--acent-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--ouwer-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms var(--timing-function);
}

.contakts-list {
  display: flex;
}

.mail-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ---------------HERO--------------- */

.hero {
  background-color: var(--background-footer-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-overlay {
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-Img.jpg);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  max-width: 696px;
  margin: 0 auto;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
  background-color: var(--acent-color);
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.06em;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border: 0;
  margin-top: 30px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* -------------------ABOUT----------------- */
.about {
  padding-top: 94px;
}

.about-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.about-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
  margin-top: 30px;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--ouwer-text-color);
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--buttons-port-color);
  width: 270px;
  height: 120px;
}

/* ----------------BENEFITS----------------- */

.benefits-headar {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.benefits-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}

.benefits-item {
  position: relative;
}

.benefits-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;

  background: rgba(47, 48, 58, 0.8);
  color: #fff;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

/* -----------------TEAM--------------------- */
.team {
  background-color: var(--background-section);
}

.team-headar {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: var(--beckground-color);
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
}

.team-position {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--ouwer-text-color);
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.team-soc-icon {
  fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--acent-color);
  color: var(--secondary-text-color);
}

/* ---------------CLIENTS-------------- */

.clients-headar {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-substrate {
  text-align: center;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--icon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--acent-color);
  color: var(--acent-color);
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-icon {
  fill: currentColor;
}

/* ---------------FOOTER-------------- */

.footer {
  background-color: var(--background-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address-container {
  display: block;
  margin-right: 70px;
}

.footer-item:not(:first-child) {
  margin-top: 9px;
}

.logo-footer {
  font-family: "Raleway";
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  display: inline-block;
  margin-top: 20px;
  transition: color 250ms var(--timing-function);
}

.footer-address:hover,
.footer-address:focus {
  color: var(--acent-color);
}

.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  display: inline-block;
  transition: color 250ms var(--timing-function);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--acent-color);
}

.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  display: inline-block;
  transition: color 250ms var(--timing-function);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--acent-color);
}

.footer-icons {
  display: block;
  max-width: 206px;
  height: 80px;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 auto;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--acent-color);
  color: var(--secondary-text-color);
}

.footer-header {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

/* -------------------FILTER------------------ */

.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.61;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.first-btn {
  padding: 6px 25px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--acent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.content-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content-link:hover,
.content-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content-container {
  width: 1200px;
  margin: 0 auto;
}

.content-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.content-item {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.content-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--ouwer-text-color);
  margin-top: 4px;
}

.content-card-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--acent-color);

  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-text-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content-link:hover .overlay-text,
.content-link:focus .overlay-text {
  transform: translateY(0);
}

.footer-form {
  display: block;
  margin-left: auto;
}

.footer-input {
  height: 50px;
  width: 358px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--footer-text-color);
}

.footer-mailer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer-btn {
  height: 50px;
  width: 200px;
  margin-left: 12px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--acent-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.footer-btn:hover,
.footer-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--acent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-btn-icon {
  fill: var(--beckground-color);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.footer-mailer {
  display: flex;
}

/* ------------------MODAL-------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(62, 58, 58, 0.8);
  opacity: 1;
  transition: opacity 250ms, visibility var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  background-color: var(--beckground-color);
  padding: 40px;
}

.cross-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;

  border: 1px solid #0000001a;
  border-radius: 50%;
  background-color: var(--beckground-color);
}

.cross-btn:hover {
  color: #188ce8;
  cursor: pointer;
}

.modal-cross-btn {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--logo-color-text);
  margin-bottom: 15px;
  padding-left: 35px;
  outline: transparent;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.modal-input:focus {
  border: 1px solid var(--acent-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--acent-color);
}

.modal-input-icon {
  position: absolute;
  top: 18%;
  transform: translateY(-50%);
  left: 12px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--ouwer-text-color);
  margin-bottom: 4px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  margin-bottom: 20px;
}

.modal-comment:focus {
  border: 1px solid var(--acent-color);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--ouwer-text-color);
}

.check-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--acent-color);
  text-decoration: underline;
  margin-left: 5px;
}

.check-text svg {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 5px;
  fill: transparent;
}

.input-check:checked + .check-text svg {
  background-color: #2196f3;
  fill: var(--secondary-text-color);
  border-color: transparent;
}

.check-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  cursor: pointer;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-btn:hover,
.check-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--acent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
